@model List<Product>

<partial name="_Notifications" />

<div class="container pb-3">
    <div class="row p-1">
        <div class="col-6">
            <h2 class="text-primary">
                Products List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="CreateProduct" class="btn btn-primary rounded-3">
                <i class="bi bi-plus-circle"></i> Create new Product
            </a>
        </div>
    </div>

    <table class="table  table-bordered talble-striped overflow-scroll">
        <thead>
            <tr>
                <th class="small text-nowrap">
                    Product Title
                </th>
                <th class="small text-nowrap">
                    Description
                </th>
                <th class="small text-nowrap">
                    ISBN Number
                </th>
                <th class="small text-nowrap">
                    Author
                </th>
                <th class="small text-nowrap">
                    List Price
                </th>
                <th class="small text-nowrap">
                    Price for 1-50
                </th>
                <th class="small text-nowrap">
                    Price for 50+
                </th>
                <th class="small text-nowrap">
                    Price for 100+
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td class="text-nowrap">@obj.Title</td>
                    <td>@obj.Description</td>
                    <td>@obj.ISBN</td>
                    <td class="text-nowrap">@obj.Author</td>
                    <td>@obj.ListPrice</td>
                    <td>@obj.Price</td>
                    <td>@obj.Price50</td>
                    <td>@obj.Price100</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-asp-controller="Product" asp-action="EditProduct" asp-route-id="@obj.Id"
                                class="btn btn-primary mx-3">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id"
                                class="btn btn-danger">
                                <i class="bi bi-trash"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>